$white: #fff;
$lightgrey: #f4f4f4;
$grey: #afafaf;

$black: #000;
$mid-black: #3c3c3c;
$light-black: rgba(0, 0, 0, 0.6);

$accent: #1a73e8;
$accent-hover: #1861c0;
$accent-dark: #003c8a;
$accent-dark-hover: #0052bd;
$accent-light: #bdd1eb;

$br-small: 4px;
$br-mid: 8px;
$br-big: 12px;

$padding-small: 24px;
$padding-big: 24px 40px;
$padding-tiny: 20px;
$padding-mob: 20px 16px;
